@import url('http://fonts.cdnfonts.com/css/monument-extended');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* enter button */
.enter {
  font-weight: 700;
  text-decoration: overline;
  font-family: "monument Extended", sans-serif !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  outline: 0;
  padding: 20px 40px;
  border-radius: 5px;
  letter-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
  z-index: 99;
}

/* landing page */
.header {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #eff5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header h1 {
  font-size: 70px;
  font-weight: 700;
font-family: "Voyage", sans-serif !important;
  letter-spacing: 20px;
  text-align: center;
}
/* .header .title {
  font-size: 100px;
  background-color: #eff5ff;
  color: #000;
  letter-spacing: 4px;
  font-family: "Voyage", sans-serif !important;
  padding: 20px 40px;
  margin-top: 40px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #fffffd50;
} */

/* text container */
.text-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #eff5ff;
}

.text-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}
.text-wrapper .text {
  width: 300%;
  font-family: "Voyage", sans-serif !important;
  font-weight: bold;
  font-size: 9vw;
  text-transform: uppercase;
  opacity: .1;
}
